.no-post{
    text-align: center;
    padding: 4rem;
}

.post-container{
    display: flex;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    border-radius: 2rem;
    padding: 1rem;
    align-items: center;
    position: relative;
    margin: 0.3rem;
}

.post-text{
    margin-left: 1rem;
}

.post-title{
    font-size: 1rem;
    text-align: left;
}

.post-content{
    font-style: italic;
    font-size: medium;
}

.post-date{
    font-size: small;
    font-style: italic;
    color: gray;
    margin-bottom: 0rem;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 0.5rem;
}

video, img{
    border-radius: 35%;
    height: 200px;
    width: auto;
}